* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 1%;
  width: 85%;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  width: 60%; /* adjust the width to your liking */
}

.text-center {
  text-align: center;
}
.heading {
  text-align: center;
  font: 50px italic;
  color: darkorange;
}

.clearfix {
  float: none;
  clear: both;
}

.tbl-full {
  width: 100%;
}

table tr th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

table tr td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.add-btn {
  padding: 12px;
  background-color: #17cd63;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
}
.add-btn:hover {
  background-color: #1e90ff;
}

.btn-primary {
  background-color: #1e90ff;
  padding: 3px 5px;
  border-radius: 5px; 
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: #3742fa;
}

.btn-secondary {
  background-color: #58f36a;
  padding: 3px 6px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.btn-secondary:hover {
  background-color: #0ee928;
}

.btn-danger {
  background-color: #ff6b81;
  padding: 3px 6px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn-danger:hover {
  background-color: #ff4757;
}

.success {
  color: #2ed573;
}
.error {
  color: #ff4757;
}

/* CSS for Menu */
.menu {
  border-bottom: 1px solid grey;
}
.menu ul {
  list-style-type: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #ff6b81;
}
.menu ul li a:hover {
  color: #ccc;
}

/* CSS for main-content */
.main-content {
  min-height: 71vh;
  background-color: #f1f2f6;
  padding: 3% 0;
}

.col-4 {
  width: 19%;
  font-size: larger;
  color: #ff4757;
  background-color: white;
  margin: 1%;
  padding: 2%;
  float: left;
}

/* CSS for Footer */
.footer {
  background-color: #ff4757;
  color: white;
  margin-top: auto;
}

/* CSS for Login */

.login {
  width: 25%;
  margin: auto;
  padding: 15%;
}

.login-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
.login-form h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  color: #007bff;
}
.name,
.pass {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.login-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
.login-btn:hover {
  background-color: #0056b3;
}
